H1 {
    color: white;
    font-size: 55px;
    text-align: center;
    font-family: monospace;
}

body{
    background-color: black;
}

#buttons{
    text-align: center;
}

.button {
    color: black;
}

.button:visited {
    color: black;
}